* {
    box-sizing: content-box;
    font-size: 16px;
}

a {
    text-decoration: none;
}

body {
    font-family: monospace;
    background-color: white;

    min-height: 1000px;
}


header {
    display: flex;
    justify-content: space-between;    
    align-items: center;

    padding: 20px 160px 20px;

    margin-bottom: 20px;

    background-color: black;

    color: white;
}

header h1 {
    font-size: 24px;
}

header a {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

header a + a {
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .intro p {
    margin-top: 40px;

    line-height: 2em;
    text-align: center;
}

main .intro strong {
    font-weight: bold;
}

main .intro .scoreboard {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 24px;

    transition: 1s;
}

main .intro .scoreboard strong {
    font-size: 20px;
}

main .intro .scoreboard p {
    margin-top: 10px;
}

main .intro .scoreboard .you {
    width: 300px;
}

main .intro .scoreboard .me {
    width: 300px;
}

main .intro .scoreboard .roundPlay {
    margin-top: 20px;
    font-size: 16px;

    border: 1px dashed #c1c1c9;
    border-radius: 8px;
}




main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    margin-top: 40px;
}

main .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    transition-duration: 300ms;

    cursor: pointer;
}

main .cards .card:hover {
    transform: scale(1.1);
    font-weight: bold;
}

main .cards .card img {
    border-radius: 8px;
    border: 5px solid #ffeb00;

    width: 250px;
    height: 250px;
}

main .cards .card p {
    font-size: 20px;
    margin-top: 10px;
}

main .cards .card img:hover {
    border-color: #2d2a2b;
}

